{% extends "shared/layout.html" %}

{% block content %}

{{username}}

<div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab"></div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
        <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab"></div>
    </div>
</div>


{% endblock %}