{% extends "shared/layout.html" %}

{% block content %}

<div class="text-center">
    <form action="/speaker" method="post">
        <div>
            <h2>Choose your Speaker</h2>
        </div>
        <div>
            <div>
                <img src="/static/images/loading.gif" id="loading" />
                <div id="controls" style="display:none">
                    <select id="speaker" name="speaker" class="form-control"></select>
                    <button type="button" id="rescan"  class="btn btn-primary m-2">Re-Scan</button>
                    <button type="button" id="testMedia" class="btn btn-success m-2">Test Speaker</button> <div id="testMediaSpinner" style="display:none" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
                </div>

            </div>
        </div>

        <div>
            <br />
            <button type="submit" id="submit" disabled class="btn btn-primary btn-lg btn-block">Next</button>
            <button type="button" href="/address" class="btn btn-primary btn-lg btn-block btnClick" >Previous</button>
        </div>
    </form>
</div>

<script>

    function scanSpeakers() {

        var c = s.getSpeakers('/speakerlist', function result(d) {
            $('#submit').attr("disabled", false);;
            $('#controls').show();
            $('#loading').hide();
            $('#speaker').append(`<option value="${d.name}"> 
                                       ${d.name} 
                                  </option>`);
        });
    }


    $().ready(function () {


        /** Test Player  **/
         
        //var selectedDisplay = "Office Ustairs speaker"
        //var media = '/static/media/demo.mp3'
        ////media = 'http://praytimes.org/audio/adhan/Shia/Rowhani-Nejad.mp3'
        ////media = 'https://www.youtube.com/watch?v=nwq249Me9Yk'
        //s.playMedia('/playMedia', selectedDisplay, media, function (d) { alert(d) })
        // End Test

        scanSpeakers();

        $("#rescan").click(function () {
            $('#speaker').empty();
            $('#loading').show();
            $('#controls').hide();
    
            scanSpeakers();
        });

        $("#testMedia").click(function () {
            $('#testMediaSpinner').show();
            var selectedDisplay = $("#speaker option:selected").val()
            var media = 'http://praytimes.org/audio/adhan/Shia/Rowhani-Nejad.mp3'
            s.playMedia('/playMedia', selectedDisplay, media, function (d) {
                $('#testMediaSpinner').hide();
            })
        })
    })



</script>

    {% endblock %}
