{% extends "shared/layout.html" %}

{% block content %}
<style>
    div.speaker-card:hover {
        background-color: aqua;
        cursor: pointer;
    }
    .selected-label{
        font-weight:bold;
        color:burlywood;
    }

</style>
<div class="row justify-content-center m-3 green">
    <h3>Configure Your Device.</h3>
</div>


<form action="/api/configureDevice" method="post">
    <div class="field-label">
        <div>Enter Address: </div>
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter Full Address">
    </div>
    <br />
  
        <div class="field-label">Select TimeZone: </div>
        <select name="timezone" id="timezone" class="form-control">
            <option value="Etc/GMT+12">(GMT-12:00) International Date Line West</option>
            <option value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
            <option value="Pacific/Honolulu">(GMT-10:00) Hawaii</option>
            <option value="US/Alaska">(GMT-09:00) Alaska</option>
            <option value="America/Los_Angeles">(GMT-08:00) Pacific Time (US & Canada)</option>
            <option value="America/Tijuana">(GMT-08:00) Tijuana, Baja California</option>
            <option value="US/Arizona">(GMT-07:00) Arizona</option>
            <option value="America/Chihuahua">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
            <option value="US/Mountain">(GMT-07:00) Mountain Time (US & Canada)</option>
            <option value="America/Managua">(GMT-06:00) Central America</option>
            <option value="US/Central">(GMT-06:00) Central Time (US & Canada)</option>
            <option value="America/Mexico_City">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
            <option value="Canada/Saskatchewan">(GMT-06:00) Saskatchewan</option>
            <option value="America/Bogota">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
            <option value="US/Eastern" selected>(GMT-05:00) Eastern Time (US & Canada)</option>
            <option value="US/East-Indiana">(GMT-05:00) Indiana (East)</option>
            <option value="Canada/Atlantic">(GMT-04:00) Atlantic Time (Canada)</option>
            <option value="America/Caracas">(GMT-04:00) Caracas, La Paz</option>
            <option value="America/Manaus">(GMT-04:00) Manaus</option>
            <option value="America/Santiago">(GMT-04:00) Santiago</option>
            <option value="Canada/Newfoundland">(GMT-03:30) Newfoundland</option>
            <option value="America/Sao_Paulo">(GMT-03:00) Brasilia</option>
            <option value="America/Argentina/Buenos_Aires">(GMT-03:00) Buenos Aires, Georgetown</option>
            <option value="America/Godthab">(GMT-03:00) Greenland</option>
            <option value="America/Montevideo">(GMT-03:00) Montevideo</option>
            <option value="America/Noronha">(GMT-02:00) Mid-Atlantic</option>
            <option value="Atlantic/Cape_Verde">(GMT-01:00) Cape Verde Is.</option>
            <option value="Atlantic/Azores">(GMT-01:00) Azores</option>
            <option value="Africa/Casablanca">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
            <option value="Etc/Greenwich">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
            <option value="Europe/Amsterdam">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
            <option value="Europe/Belgrade">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
            <option value="Europe/Brussels">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
            <option value="Europe/Sarajevo">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
            <option value="Africa/Lagos">(GMT+01:00) West Central Africa</option>
            <option value="Asia/Amman">(GMT+02:00) Amman</option>
            <option value="Europe/Athens">(GMT+02:00) Athens, Bucharest, Istanbul</option>
            <option value="Asia/Beirut">(GMT+02:00) Beirut</option>
            <option value="Africa/Cairo">(GMT+02:00) Cairo</option>
            <option value="Africa/Harare">(GMT+02:00) Harare, Pretoria</option>
            <option value="Europe/Helsinki">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
            <option value="Asia/Jerusalem">(GMT+02:00) Jerusalem</option>
            <option value="Europe/Minsk">(GMT+02:00) Minsk</option>
            <option value="Africa/Windhoek">(GMT+02:00) Windhoek</option>
            <option value="Asia/Kuwait">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
            <option value="Europe/Moscow">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
            <option value="Africa/Nairobi">(GMT+03:00) Nairobi</option>
            <option value="Asia/Tbilisi">(GMT+03:00) Tbilisi</option>
            <option value="Asia/Tehran">(GMT+03:30) Tehran</option>
            <option value="Asia/Muscat">(GMT+04:00) Abu Dhabi, Muscat</option>
            <option value="Asia/Baku">(GMT+04:00) Baku</option>
            <option value="Asia/Yerevan">(GMT+04:00) Yerevan</option>
            <option value="Asia/Kabul">(GMT+04:30) Kabul</option>
            <option value="Asia/Yekaterinburg">(GMT+05:00) Yekaterinburg</option>
            <option value="Asia/Karachi">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
            <option value="Asia/Calcutta">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
            <option value="Asia/Calcutta">(GMT+05:30) Sri Jayawardenapura</option>
            <option value="Asia/Katmandu">(GMT+05:45) Kathmandu</option>
            <option value="Asia/Almaty">(GMT+06:00) Almaty, Novosibirsk</option>
            <option value="Asia/Dhaka">(GMT+06:00) Astana, Dhaka</option>
            <option value="Asia/Rangoon">(GMT+06:30) Yangon (Rangoon)</option>
            <option value="Asia/Bangkok">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
            <option value="Asia/Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
            <option value="Asia/Hong_Kong">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
            <option value="Asia/Kuala_Lumpur">(GMT+08:00) Kuala Lumpur, Singapore</option>
            <option value="Asia/Irkutsk">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
            <option value="Australia/Perth">(GMT+08:00) Perth</option>
            <option value="Asia/Taipei">(GMT+08:00) Taipei</option>
            <option value="Asia/Tokyo">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
            <option value="Asia/Seoul">(GMT+09:00) Seoul</option>
            <option value="Asia/Yakutsk">(GMT+09:00) Yakutsk</option>
            <option value="Australia/Adelaide">(GMT+09:30) Adelaide</option>
            <option value="Australia/Darwin">(GMT+09:30) Darwin</option>
            <option value="Australia/Brisbane">(GMT+10:00) Brisbane</option>
            <option value="Australia/Canberra">(GMT+10:00) Canberra, Melbourne, Sydney</option>
            <option value="Australia/Hobart">(GMT+10:00) Hobart</option>
            <option value="Pacific/Guam">(GMT+10:00) Guam, Port Moresby</option>
            <option value="Asia/Vladivostok">(GMT+10:00) Vladivostok</option>
            <option value="Asia/Magadan">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
            <option value="Pacific/Auckland">(GMT+12:00) Auckland, Wellington</option>
            <option value="Pacific/Fiji">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
            <option value="Pacific/Tongatapu">(GMT+13:00) Nuku'alofa</option>
        </select>
        <div id="offset"></div>

        <br />
        <div>
            <div class="card">
                <div class="card-body">
                    <b>Where would you like to play the Adhan?</b>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 mb-3 mb-md-0">
                    <div class="card speaker-card">
                        <div class="card-body">

                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="rd-speaker" name="rd-speaker" value="chromecast">
                                <label class="custom-control-label green" for="defaultUnchecked">Google Home/Chromecast</label>
                            </div>


                            <p class="card-text">Google Home/ Nest/ Shield/ Chromecast Speaker</p>

                            <select id="speaker" name="speaker" class="form-control output-menu">
                                <option value="">Loading Speakers...</option>
                            </select>
                            <span id="speaker_label" class="selected-label"></span><br />

                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card speaker-card">
                        <div class="card-body">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="rd-speaker" name="rd-speaker" value="bluetooth">
                                <label class="custom-control-label green" for="defaultUnchecked">Bluetooth Speakers</label>
                            </div>
                            <p class="card-text">Any Compatiable Device with Bluetooth Support</p>

                            <select id="bluspeaker2" name="bluspeaker2" class="form-control output-menu">
                                <option value="">Scanning Speakers...</option>
                            </select>
                            <span id="bluspeaker_label" class="selected-label"></span>

                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="speaker-output-device" id="speaker-output-device" />
            <input type="hidden" name="speaker-name" id="speaker-name" />
            <br />
            <button type="button" class="btn btn-secondary  btn-sm btn-block" onclick="document.location.reload()">ReScan Devices</button>
        </div>
        <br />
        <div>
            <div class="field-label">Choose Method</div>
            <select id="method" name="method" class="form-control">
                <option value="ISNA">Islamic Society of North America</option>
                <option value="MWL">Muslim World League</option>
                <option value="Egypt">Egyptian General Authority of Survey</option>
                <option value="Makkah">Umm al-Qura University, Makkah</option>
                <option value="Karachi">University of Islamic Sciences, Karachi</option>
                <option value="Tehran">Institude of Geophysics, University of Tehran</option>
                <option value="Jafari">Shia Ithna Ashari, Leva Research Institute, Qum</option>
                <!--<option value="ASR_STANDARD">Shafi'i, Maliki, Ja'fari, and Hanbali</option>
                <option value="ASR_HANAFI">Hanafi</option>-->
            </select>
        </div>
        <br />
        <div>
            <div class="field-label">Asr Method:</div>
            <div>
                <label class="radio-inline">
                    <input class="form-control" type="radio" checked value="Standard" name="asrradio">ASR STANDARD
                </label>
                &nbsp;
                <label class="radio-inline">
                    <input class="form-control" type="radio" value="Hanafi" name="asrradio">ASR HANAFI
                </label>
                &nbsp;
            </div>
        </div>
        <br />
        <button type="button" id="save" class="btn btn-primary btn-lg btn-block" data-title="Save Settings" data-loading-title="Saving...">Save Settings</button>




</form>



<!-- Modal -->
<div class="modal fade" id="infoModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">header</h4>
            </div>
            <div class="modal-body">
                <p>Content</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<script>




    $().ready(function () {

        loadData()
        s.scanSpeakers("speaker");
        bluScan("bluspeaker2");

        $("#save").click(function (e) {
            s.updateSettings('/api/configureDevice', $("#address").val(), $("#speaker-output-device").val(),$("#speaker-name").val(), $("#method").val(), $("input[name='asrradio']:checked").val(), $("#timezone").val(), this.id, function () {
                loadData();
                setTimeout(function () {
                    //document.location.reload();
                }, 2000);
            });
        })



        /** Test Player  **/

        //var selectedDisplay = "Office Ustairs speaker"
        //var media = '/static/media/demo.mp3'
        ////media = 'http://praytimes.org/audio/adhan/Shia/Rowhani-Nejad.mp3'
        ////media = 'https://www.youtube.com/watch?v=nwq249Me9Yk'
        //s.playMedia('/playMedia', selectedDisplay, media, function (d) { alert(d) })
        // End Test

        $(".speaker-card").click(function () {
            var chk = $(this).find('input:radio');
            chk.prop('checked', true);

            _val = $(this).find('select').val()
            _txt = $('option:selected', this).text().trim()
            $("#speaker-output-device").val(_val)
            $("#speaker-name").val(_txt)
        })

        $(".output-menu").change(function () {
            _val = $(this).val()
            _txt = $('option:selected', this).text().trim()
            $("#speaker-output-device").val(_val)
            $("#speaker-name").val(_txt)
        })

        $("#rescan").click(function () {
            $('#speaker').empty();
            $('#loading').show();
            $('#controls').hide();

            s.scanSpeakers("speaker");
        });

        $("#testMedia").click(function () {
            $('#testMediaSpinner').show();
            var selectedDisplay = $("#speaker option:selected").val()
            var media = 'http://praytimes.org/audio/adhan/Shia/Rowhani-Nejad.mp3'
            s.playMedia('/playMedia', selectedDisplay, media, function (d) {
                $('#testMediaSpinner').hide();
            })
        })
    })




    function loadData() {

        s.getSettings('/api/getData', 1, function (d) {
            if (d == '') {
                return;
            }
            d = jQuery.parseJSON(d)

            if (d[1].length > 0) {

                $("#bluspeaker_label").html('');
                $("#speaker_label").html('')
                $("#speaker-output-device").val(d[1])
                $("#speaker-name").val(d[9])

                isBuetooth = (d[1].split(':').length > 4) ? 1 : 0;
                if (isBuetooth) {
                    $("#bluspeaker_label").html('Currently Selected: ' + d[9]);
                    $("input[name=rd-speaker][value=bluetooth]").prop('checked', true);
                } else {
                    $("#speaker_label").html('Currently Selected: ' + d[9]);
                    $("input[name=rd-speaker][value=chromecast]").prop('checked', true);
                }

                $("#address").val(d[8])
                $("#method").val(d[4]);
                $("#timezone").val(d[7]);
                
                $("#offset").html('Offset: ' + d[6]);
                $('input[name=asrradio][value=' + d[5] + ']').prop('checked', true)
            }

        })
    }

    function bluScan(element) {
        var count = 0;
        s.getBluetoothDevice('/api/bluetooth/scan', function (device) {
            if (count == 0) {
                $('#' + element).empty();
                $("#bluConnect").prop("disabled", false);
            }
            count++;
            $('#' + element).append(`<option value="${device.mac}">
                                       ${device.name}
                                  </option>`);
        })
    }


</script>

{% endblock %}