{% extends "shared/layout.html" %}

{% block content %}

<div class="row justify-content-center m-3 green">
    <h3>Schedule History</h3>
</div>

<div>Current Time: <b>{{shellTime}}</b></div>



{% for item in Jobs %}
<div class="p-3 mb-2 bg-light text-dark">
    {{ item["nextFireDate"].strftime('%B, %a %d %Y AT %I:%M %p')  }} # <b>{{item["title"] | upper}}</b> <span data-then='{{item["nextFireDate"]}}' class="difference"></span>
    <a href="#" data-title="{{item["title"]}}" class="delJob">[Delete]</a>
</div>
<hr />
{% endfor %}



<script>

    $().ready(function () {
        difference();
    })
    function difference() {
        $(".difference").each(function () {
            then = $(this).data("then")
            $(this).html(' ---- <strong>' + moment(then).fromNow() + '</strong>')

        });
    }

    $(".delJob").click(function () {
        jobID = $(this).data("title")
        s.execCommand('/api/deleteJob', { 'jobid': jobID }, 'POST', function (d) {
            bootbox.alert({
                size: "small",
                title: "Schedule Removed",
                message: "Removed Successfully.",
                callback: function () { }
            })
            $('#setting-tab').tab('show');
        });
        return false;
    })

</script>

{% endblock %}