<div class="container">

    <div class="row justify-content-center m-3 green">
        <h3>Adhan Settings</h3>
    </div>
    <p class="p-3 mb-2 bg-info text-white">
        Uncheck the Adhan if you need to disable it. Select a different Adhan if needed and then press the "Save Adhan Settings" button.
    </p>

    <div class="row">
        <div class="col-xs-6">
            <div class="custom-control custom-checkbox text-center">
                <input type="checkbox" class="custom-control-input" id="chk_FAJR">
                <label class="custom-control-label" for="chk_FAJR">Fajr Adhan</label>
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <select name="fajr" id="FAJR" class="form-control">
                        <option selected value="/static/media/fajr1.mp3">Adhan 1</option>
                        <option value="/static/media/fajr2.mp3">Adhan 2</option>
                    </select>
                </span>
                &nbsp; <button data-target="FAJR" class="playBtn btn btn-primary btn-md">Play</button>&nbsp;
            </div>
        </div>
        <div class="col-xs-6">
            <div class="custom-control custom-checkbox text-center">
                <input type="checkbox" class="custom-control-input" id="chk_DUHUR" name="chduhur">
                <label class="custom-control-label" for="chk_DUHUR">Duhur Adhan</label>
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <select name="Dhuhr" id="DUHUR" class="form-control">
                        <option value="/static/media/azan1.mp3">Adhan 1</option>
                        <option value="/static/media/azan2.mp3">Adhan 2</option>
                        <option value="/static/media/azan3.mp3">Adhan 3</option>
                        <option value="/static/media/azan4.mp3">Adhan 4</option>
                        <option value="/static/media/azan5.mp3">Adhan 5</option>
                        <option value="/static/media/azan6.mp3">Adhan 6</option>
                        <option value="/static/media/azan7.mp3">Adhan 7</option>
                        <option value="/static/media/azan8.mp3">Adhan 8</option>
                    </select>
                </span>
                &nbsp; <button data-target="DUHUR" class="playBtn btn btn-primary btn-md">Play</button>&nbsp;
            </div>
        </div>

        <div class="col-xs-6">
            <div class="custom-control custom-checkbox text-center">
                <input type="checkbox" class="custom-control-input" id="chk_ASR" name="chkasr">
                <label class="custom-control-label" for="chk_ASR">Asr Adhan</label>
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <select name="Asr" id="ASR" class="form-control">
                        <option value="/static/media/azan1.mp3">Adhan 1</option>
                        <option value="/static/media/azan2.mp3">Adhan 2</option>
                        <option value="/static/media/azan3.mp3">Adhan 3</option>
                        <option value="/static/media/azan4.mp3">Adhan 4</option>
                        <option value="/static/media/azan5.mp3">Adhan 5</option>
                        <option value="/static/media/azan6.mp3">Adhan 6</option>
                        <option value="/static/media/azan7.mp3">Adhan 7</option>
                        <option value="/static/media/azan8.mp3">Adhan 8</option>
                    </select>
                </span>
                &nbsp; <button data-target="ASR" class="playBtn btn btn-primary btn-md">Play</button>&nbsp;
            </div>
        </div>
        <div class="col-xs-6">
            <div class="custom-control custom-checkbox text-center">
                <input type="checkbox" class="custom-control-input" id="chk_MAGRIB" name="chmagrib">
                <label class="custom-control-label" for="chk_MAGRIB">Magrib Adhan</label>
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <select name="Magrib" id="MAGRIB" class="form-control">
                        <option value="/static/media/azan1.mp3">Adhan 1</option>
                        <option selected value="/static/media/azan2.mp3">Adhan 2</option>
                        <option value="/static/media/azan3.mp3">Adhan 3</option>
                        <option value="/static/media/azan4.mp3">Adhan 4</option>
                        <option value="/static/media/azan5.mp3">Adhan 5</option>
                        <option value="/static/media/azan6.mp3">Adhan 6</option>
                        <option value="/static/media/azan7.mp3">Adhan 7</option>
                        <option value="/static/media/azan8.mp3">Adhan 8</option>
                    </select>
                </span>
                &nbsp; <button data-target="MAGRIB" class="playBtn btn btn-primary btn-md">Play</button>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="custom-control custom-checkbox text-center">
                <input type="checkbox" class="custom-control-input" id="chk_ISHA" name="chkIsha">
                <label class="custom-control-label" for="chk_ISHA">Isha Adhan</label>
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <select name="Isha" id="ISHA" class="form-control">
                        <option value="/static/media/azan1.mp3">Adhan 1</option>
                        <option value="/static/media/azan2.mp3">Adhan 2</option>
                        <option value="/static/media/azan3.mp3">Adhan 3</option>
                        <option value="/static/media/azan4.mp3">Adhan 4</option>
                        <option value="/static/media/azan5.mp3">Adhan 5</option>
                        <option value="/static/media/azan6.mp3">Adhan 6</option>
                        <option value="/static/media/azan7.mp3">Adhan 7</option>
                        <option value="/static/media/azan8.mp3">Adhan 8</option>
                    </select>
                </span>
                &nbsp; <button data-target="ISHA" class="playBtn btn btn-primary btn-md">Play</button>
            </div>
        </div>
    </div>
</div>
<div class="row p-3">
    <button id="btnSaveSettings" class="btn btn-success btn-lg btn-block">Save Adhan Settings</button>
</div>

<div class="p-3"></div>

<hr />


<div class="row justify-content-center m-3 green">
    <h3>Surah Settings</h3>
</div>

<p class="p-3 mb-2 bg-info text-white">
   Select the Surah, then choose the date and time by touching the "Calendar" icon. Choose "Once" if you want to run it at provided date and time, choose "Daily" if you want to run it daily (Date will serve as the START date of surah in this case.). Choose "Play Now" if you just want to play it without scheduling.
</p>


<div class="row p-3">
    <div class="col-xs-6">
        <b>Choose Surah: </b>
        <select id="surah" class="form-control"></select>
    </div>
    <div class="col-xs-6 pt-4">
        &nbsp;<button data-target="surah" class="playBtn btn btn-primary btn-md">Play Now</button>
    </div>
</div>



<div class="row p-3">
    <div class="col-xs-12">
        <div class="form-group">
            <b>Choose Schedule: </b>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" id="txtSchedule" />
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row p-3">
    <div class="col-xs-12">
        <b>Frequency</b><br />
        <label class="radio-inline">
            <input checked class="form-control" type="radio" value="0" name="optradio" id="optradio">Once
        </label>
        &nbsp;
        <label class="radio-inline">
            <input class="form-control" type="radio" value="1" name="optradio" id="optradio">Daily
        </label>

    </div>
</div>

<div class="row p-2">
    <button id="btnSaveSurahSchedule" class="btn btn-success btn-lg btn-block">Save Surah Settings</button>
</div>
<hr />



<script>

    $().ready(function () {

        s.dbConfigCheck('{{settings[1]}}')
        loadData()

        $('#datetimepicker1').datetimepicker();
        s.populateSurahs("akdr", "surah");


        $(".playBtn").click(function () {
            btn = $(this);
            btn.text('Loading..');
            targetid = $(this).attr("data-target")
            targetOptionValue = $('#' + targetid).val();
            var selectedDisplay = '{{settings[1]}}'
            var media = targetOptionValue
            s.playMedia('/speaker/api/playMedia', selectedDisplay, media, function (d) {
                btn.text('Play');
                })
            })
    })

    $("#btnSaveSettings").click(function () {
        var settings = []
         settings.push({ 'AdhanID': 1, 'AdhanMedia': $("#FAJR").val(), 'AdhanStatus': $("#chk_FAJR").is(':checked')?1:0 })
         settings.push({ 'AdhanID': 2, 'AdhanMedia': $("#DUHUR").val(), 'AdhanStatus': $("#chk_DUHUR").is(':checked')?1:0 })
         settings.push({ 'AdhanID': 3, 'AdhanMedia': $("#ASR").val(), 'AdhanStatus': $("#chk_ASR").is(':checked')?1:0 })
         settings.push({ 'AdhanID': 4, 'AdhanMedia': $("#MAGRIB").val(), 'AdhanStatus': $("#chk_MAGRIB").is(':checked')?1:0 })
         settings.push({ 'AdhanID': 5, 'AdhanMedia': $("#ISHA").val(), 'AdhanStatus': $("#chk_ISHA").is(':checked')?1:0 })

        s.updateAdhanSettings('/api/updateAdhanSettings',settings)
    })

    
    $("#btnSaveSurahSchedule").click(function () {
        if ($("#txtSchedule").val()=='') {
            bootbox.alert({
                size: "small",
                title: "Schedule",
                message: "Please specify Schedule!",
                callback: function () { }
            })
            return false;
        }
        var settings = { 'surah': $("#surah").val(), 'title': $("#surah option:selected").text(), 'datetime': $("#txtSchedule").val(), 'frequency': $("input[name='optradio']:checked").val()}
        s.updateAdhanSettings('/api/addCustomSchedule', settings)
    })



    function loadData() {
        s.getSettings('/api/getAdhanSettings', 1, function (d) {
            if (d == 'False') {
                return;
            }
            d = jQuery.parseJSON(d)
            for (var i = 0; i < d.length; i++) {
                _adhan = d[i][3].toUpperCase()
                $('#' + _adhan).val(d[i][4])
                $('#chk_' + _adhan).prop('checked',d[i][5])
            }

            })

        }








</script>
