<div class="row justify-content-center m-3 green">
    <h3>Settings</h3>
</div>
<div>Fajr Adhan: </div>
<div class="input-group">
    <span class="input-group-btn">
        <select name="fajr" id="fajr" class="form-control">
            <option selected value="/static/media/fajr1.mp3">Adhan 1</option>
            <option value="/static/media/fajr2.mp3">Adhan 2</option>
        </select>
    </span>
    &nbsp; <button data-target="fajr" class="playBtn btn btn-primary btn-md">Play</button>
</div>
<div>Dhuhr Adhan: </div>
<div class="input-group">
    <span class="input-group-btn">
        <select name="Dhuhr" id="Dhuhr" class="form-control">
            <option value="/static/media/azan1.mp3">Adhan 1</option>
            <option selected value="/static/media/azan2.mp3">Adhan 2</option>
            <option value="/static/media/azan3.mp3">Adhan 3</option>
            <option value="/static/media/azan4.mp3">Adhan 4</option>
            <option value="/static/media/azan5.mp3">Adhan 5</option>
            <option value="/static/media/azan6.mp3">Adhan 6</option>
            <option value="/static/media/azan7.mp3">Adhan 7</option>
            <option value="/static/media/azan8.mp3">Adhan 8</option>
        </select>
    </span>
    &nbsp; <button data-target="Dhuhr" class="playBtn btn btn-primary btn-md">Play</button>
</div>



<div>Asr Adhan: </div>
<div class="input-group">
    <span class="input-group-btn">
        <select name="Asr" id="Asr" class="form-control">
            <option value="/static/media/azan1.mp3">Adhan 1</option>
            <option value="/static/media/azan2.mp3">Adhan 2</option>
            <option selected value="/static/media/azan3.mp3">Adhan 3</option>
            <option value="/static/media/azan4.mp3">Adhan 4</option>
            <option value="/static/media/azan5.mp3">Adhan 5</option>
            <option value="/static/media/azan6.mp3">Adhan 6</option>
            <option value="/static/media/azan7.mp3">Adhan 7</option>
            <option value="/static/media/azan8.mp3">Adhan 8</option>
        </select>
    </span>
    &nbsp; <button data-target="Asr" class="playBtn btn btn-primary btn-md">Play</button>
</div>

<div>Magrib Adhan: </div>
<div class="input-group">
    <span class="input-group-btn">
        <select name="Magrib" id="Magrib" class="form-control">
            <option value="/static/media/azan1.mp3">Adhan 1</option>
            <option selected value="/static/media/azan2.mp3">Adhan 2</option>
            <option value="/static/media/azan3.mp3">Adhan 3</option>
            <option selected value="/static/media/azan4.mp3">Adhan 4</option>
            <option value="/static/media/azan5.mp3">Adhan 5</option>
            <option value="/static/media/azan6.mp3">Adhan 6</option>
            <option value="/static/media/azan7.mp3">Adhan 7</option>
            <option value="/static/media/azan8.mp3">Adhan 8</option>
        </select>
    </span>
    &nbsp; <button data-target="Magrib" class="playBtn btn btn-primary btn-md">Play</button>
</div>

<div>Isha Adhan: </div>
<div class="input-group">
    <span class="input-group-btn">
        <select name="Isha" id="Isha" class="form-control">
            <option value="/static/media/azan1.mp3">Adhan 1</option>
            <option selected value="/static/media/azan2.mp3">Adhan 2</option>
            <option value="/static/media/azan3.mp3">Adhan 3</option>
            <option value="/static/media/azan4.mp3">Adhan 4</option>
            <option selected value="/static/media/azan5.mp3">Adhan 5</option>
            <option value="/static/media/azan6.mp3">Adhan 6</option>
            <option value="/static/media/azan7.mp3">Adhan 7</option>
            <option value="/static/media/azan8.mp3">Adhan 8</option>
        </select>
    </span>
    &nbsp; <button data-target="Isha" class="playBtn btn btn-primary btn-md">Play</button>
</div>





<script>

    $().ready(function () {
       
        s.dbConfigCheck('{{settings[1]}}')

        $(".playBtn").click(function () {
            targetid = $(this).attr("data-target")
            targetOptionValue = $('#' + targetid).val();
            alert(targetOptionValue)
            var selectedDisplay = '{{settings[1]}}'
            var media = targetOptionValue
                s.playMedia('/playMedia', selectedDisplay, media, function (d) {
                    alert("Done Playing")
                })
            })
        })



    })

</script>