{% extends "shared/layout.html" %}

{% block content %}

<div class="row justify-content-center m-3 green">
    <h3>Support</h3> &nbsp;<i>v2.0.1</i>
</div>


<div class="row">
    <div class="col">
        <button id="updateSoftware" data-title="Update Software" data-loading-title="Updating..." class="btn btn-primary btn-lg btn-block">Update Software</button>
        <button id="rebootDevice" data-title="Reboot Device" data-loading-title="Rebooting..." class="btn btn-primary btn-lg btn-block">Reboot Device</button>
    </div>
</div>

<script>
    $("#updateSoftware").click(function () {
        _this = $(this)
        _this.text(_this.data("loading-title"))
        s.execCommand('/api/updateSoftware', null, 'POST', function (d) {
            bootbox.alert({
                size: "small",
                title: "Software Update",
                message: "Updated Successfully.",
                callback: function () { window.location.reload(); }
            })

            _this.text(_this.data("title"))
            
        });
        return false;

    })

    $("#rebootDevice").click(function () {
        _this = $(this)
        _this.text(_this.data("loading-title"))
        s.execCommand('/api/exeCommand',  { query: 1 } 
            , 'POST', function (d) {
            bootbox.alert({
                size: "small",
                title: "Reboot Device Update",
                message: d,
                callback: function () { setTimeout(function () { window.location.reload() }, 180000) }
            })

            _this.text(_this.data("title"))
            
        });
    })
</script>


{% endblock %}