{% extends "shared/layout.html" %}

{% block content %}

<div class="row justify-content-center m-3 green">
    <h3>Support</h3>
</div>

<div class="row">
    <div class="col">
        <button id="updateSoftware" data-title="Update Software" data-loading-title="Updating..." class="btn btn-primary btn-lg btn-block">Update Software</button>
    </div>
</div>

<script>

    $("#updateSoftware").click(function () {
        _this = $(this)
        _this.text(_this.data("loading-title"))
        s.execCommand('/api/updateSoftware', null, 'POST', function (d) {
            bootbox.alert({
                size: "small",
                title: "Software Update",
                message: "Updated Successfully.",
                callback: function () { }
            })

            _this.text(_this.data("title"))
            window.location.reload();
        });
        return false;

    })

</script>


{% endblock %}