<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css/">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/style.css/">
    <script src="/static/common.js"></script>
    <style>
        body {
            margin: 15;
        }
    </style>
</head>


<body>
    <div class="row justify-content-center m-3 green">
        <h3>Wifi Configuration</h3>
    </div>

        <div class="row text-center">
            <div class="col">{{ssid}} has been saved.</div>
            
        </div>

</body>

</html>






