adhan.db

node_modules/

# Cordova Global
plugins/

# iOS Platform
platforms/ios/build/
platforms/ios/www/
platforms/ios/cordova/console.log
*.xcuserdatad

# Android Platform
platforms/android/.gradle
platforms/android/build
platforms/android/assets/www
platforms/android/local.properties
platforms/android/CordovaLib/build
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/local.properties




