
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/style.css/">
    <script src="/static/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" href="../../static/bootstrap.min.css/">
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/bootbox.js"></script>

    <script src="/static/common.js"></script>

</head>

<body>

    <div class="container">

        <!-- Menu -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link " id="home-tab" data-toggle="tab" href="/settings" role="tab" data-target="#home" aria-controls="home">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="/schedule" role="tab" data-target="#profile" aria-controls="profile">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="/setup" role="tab" data-target="#contact" aria-controls="contact">Setup</a>
            </li>
        </ul>
        <!-- End Menu -->
        {% block content %}{% endblock %}
    </div>



    <script>


        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            var url = $(this).attr("href"); // the remote url for content
            var target = $(this).data("target"); // the target pane
            var tab = $(this); // this tab
            // ajax load from data-url
            $(target).load(url, function (result) {
                tab.tab('show');
            });
        });

        // initially activate the first tab..
       $('#home-tab').tab('show');

        


    </script>

</body>
