
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>


    <script src="/static/jquery-3.4.1.min.js"></script>

    <script src="/static/bootstrap.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://monim67.github.io/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>


    <link rel="stylesheet" href="/static/bootstrap.min.css/">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://monim67.github.io/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />

    <script src="/static/bootbox.js"></script>

    <link rel="stylesheet" href="/static/style.css/">
    <script src="/static/common.js"></script>

</head>

<body>

    <div class="container">

        <!-- Menu -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link " id="home-tab" data-toggle="tab" href="/config" role="tab" data-target="#home" aria-controls="home">Configuration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="setting-tab" data-toggle="tab" href="/settings" role="tab" data-target="#settings" aria-controls="profile">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="/setup" role="tab" data-target="#contact" aria-controls="contact">Setup</a>
            </li>
        </ul>
        <!-- End Menu -->
        {% block content %}{% endblock %}
    </div>



    <script>


        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            var url = $(this).attr("href"); // the remote url for content
            var target = $(this).data("target"); // the target pane
            var tab = $(this); // this tab
            // ajax load from data-url
            $(target).load(url, function (result) {
                tab.tab('show');
            });
        });

        // initially activate the first tab..
        $('#setting-tab').tab('show');

        


    </script>

</body>
